<!-- Top navigation -->
<nav class="navbar navbar-dark flex-md-nowrap p-2 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo logo" src="../../../assets/logo.png" alt="">
  </a>
  <div class="d-flex flex align-items-center">
    <div class="col me-3">
      <p class="text-custom text-style-2">Javier Valle Romero</p>
      <p class="text-custom text-style-3">javier.valle@emape.gob.pe</p>
    </div>
    <div class="user-photo">
      <img src="" alt="">
    </div>
  </div>
</nav>
<!-- Sidebar navigation -->
<div class="">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky sidebar-custom vh-100">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fas fa-user"></i>Planificacion
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <!--<a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
            </a>-->
            <a class="nav-link">
              <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3">
          <h1 class="text-style-1">Bienvenido</h1>
        </div>
        <div class="d-flex justify-content-around">
          <div class="custom-card">
            <div class="custom-card-title">
              <p class="text-style-2">Cantidad de Cuadrillas</p>
            </div>
            <div class="custom-card-body">
              <img src="../../../assets/cuadrilla.png" alt="">
              <p class="text-style-4">2</p>
            </div>
          </div>
          <div class="custom-card">
            <div class="custom-card-title">
              <p class="text-style-2">Cantidad de Cuadrillas</p>
            </div>
            <div class="custom-card-body">
              <img src="../../../assets/cuadrilla.png" alt="">
              <p class="text-style-4">2</p>
            </div>
          </div>
          <div class="custom-card">
            <div class="custom-card-title">
              <p class="text-style-2">Cantidad de Cuadrillas</p>
            </div>
            <div class="custom-card-body">
              <img src="../../../assets/cuadrilla.png" alt="">
              <p class="text-style-4">2</p>
            </div>
          </div>
        </div>
        <!-- Show user data when logged in -->
        <div class="pt-4 pb-2 mb-3">
          <h1 class="text-style-5">Distribución de cuadrillas</h1>
        </div>
        <div class="map" id="map">

        </div>
      </div>
    </main>
  </div>
</div>
  