<div class="bg-image">
  <div class="container mx-auto row align-items-center justify-content-center justify-content-lg-end vh-100">
    <div class="card text-bg-light col-xs-10 col-sm-8 col-lg-4">
      <div class="card-body">
        <div class="authBlock">
          <p class="text-center">LOGO</p>
          <h3 class="text-center">Registrese</h3>
          <div class="formGroup">
            <label for="" class="form-label">Correo:</label>
            <input
              type="email"
              class="form-control mb-2"
              placeholder="Email Address"
              #userEmail
              required
            />
          </div>
          <div class="formGroup">
            <label for="" class="form-label">Contraseña:</label>
            <input
              type="password"
              class="form-control mb-4"
              placeholder="Password"
              #userPwd
              required
            />
          </div>
          <div class="formGroup">
            <!-- <input
              type="button"
              class="btn btn-primary w-100"
              value="Sign Up"
              (click)="authService.SignUp(userEmail.value, userPwd.value)"
            /> -->
            <input
              type="button"
              class="btn btn-primary w-100"
              value="Sign Up"
            />
          </div>
        </div>
        <div class="redirectToLogin text-center mt-4">
          <span
            >Already have an account?
            <span class="redirect text-primary" routerLink="/sign-in">Log In</span></span
          >
        </div>
      </div>
  </div>
  </div>
</div>
